* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: whitesmoke;
}

.container {
  width: 100%;
}

/* Ahmad Raihanul Gibran  */
nav {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 17px 20px;
}

nav ul li {
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a {
  padding: 5px 10px;
  border-radius: 16px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: #e5e5e5;
  padding: 5px 15px;
  border-radius: 18px;
  text-decoration: none;
  color: #6c629c;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

label.logo {
  font-family: 'Fredoka', sans-serif;
  color: white;
  font-size: 20px;
  float: right;
  padding: 15px;
  font-weight: bold;
  margin-right: 40px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.scrolled {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #6c629c;
  color: #e5e5e5;
  transition: 0.3s;
}

.fa-solid {
  padding-right: 15px;
}

header {
  background: linear-gradient(-45deg, #976fdc, #5e46d6, #b34cb5, #6b879e);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 400px;
  border-radius: 0 0 20px 20px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header {
  padding: 100px;
}

.header h1 {
  font-size: 4vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.header p {
  font-family: 'Fredoka', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  label.logo {
    font-size: 20px;
    padding-top: 25px;
    transition: all .5s;
  }

  nav {
    height: 80px;
    width: 100%;
  }

  nav ul li {
    padding: 10px 0;
  }

  .navbar ul li a {
    padding: 0px 15px;
    font-size: 16px;
  }

  nav ul li a:hover {
    background-color: #e5e5e5;
    padding: 15px 15px;
    border-radius: 18px;
    color: #6c629c;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
  }
  .header {
    padding-top: 120px;
  }
}
@media (max-width: 840px) {
  label.logo {
    font-size: 22px;
    padding-top: 16px;
    padding-left: 20px;
    float: left;
    transition: all .5s;
  }

  .checkbtn {
    display: block;
    margin: 18px 20px;
    font-size: 24px;
    line-height: 0px;
  }
  
  .ul-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80vh;
    background: #6c629c;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav {
    height: 60px;
    width: 100%;
    z-index: 999;
    top: 0;
  }
  nav ul li {
    padding: 0px;
    margin: 20px 0;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked~ul {
    left: 0;
  }

}
@media (max-width: 670px) {
  .header {
    padding-top: 140px;
    padding-left: 40px;
  }

  .header h1 {
    text-align: left;
    letter-spacing: 2px;
  }

  .header p {
    text-align: left;
    font-size: 3vw;
  }
}

/* Ahmad Raihanul Gibran  */

/* Anisa Meidriarti */
.main-content-layanan {
  text-align: center;
}

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.services-content {
  width: 350px;
  height: 350px;
}

.services-content img {
  cursor: pointer;
  width: 300px;
  height: 200px;
}

.services-content p {
  margin-top: 10px;
  line-height: 20px;
  font-family: sans-serif;
  color: #555555;
}

.text-content {
  margin-top: 20px;
}

.text-content h3 {
  cursor: pointer;
}

/* Anisa Meidriarti */

/* Ainia Alif Fatikah */
.lesson-wrapper {
  margin: 80px 0px 0px 0px;
  padding: 0px 70px 90px 70px;
  text-align: center;
}

.heading h1 {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}

.lessons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: -200px;
}

.lesson {
  width: 300px;
  margin: 40px 20px;
  padding: 30px 20px 60px 20px;
  background-color: white;
  border-radius: 20px;
  border: #8a6fb8 1px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.lesson:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

.lesson-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.textprofile {
  margin-top: 20px;
}

.text-content {
  margin-top: 10px;
  font-size: 15px;
  color: #b3aeb5;
}

/* Ainia Alif Fatikhah */

/* Adi Riyanto  */
.main {
  padding-top: 100px;
  background-color: whitesmoke;
}

.main-about {
  padding-top: 0px;
  background-color: whitesmoke;
}

.container-main {
  margin-top: 200px;
}

.main-content-header {
  padding-top: 50px;
  text-align: center;
}

.main-content-header h1 {
  font-size: 35px;
  color: black;
  padding: 0 50px;

}

.main-content-header p {
  padding: 30px 60px;
  color: black;
  margin-bottom: 30px;
}

.main-content-primary {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-content-item {
  width: 300px;
  margin: 20px;
}

.main-content-item h1 {
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}

.main-content-item p {
  text-align: center;
  font-size: 15px;
  padding: 15px;
  margin-bottom: 40px;
}

.main-content-item img {
  border-radius: 30px;
  width: 300px;
  height: 335px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.main-content-item img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transform: scale(1.02);
}

img.second {
  margin-top: 20px;
}

img.third {
  margin-top: 20px;
}

/* Adi Riyanto  */


/* Adi Miftahul Azis  */
.container-contact {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background-color: #6c629c;
}

.container-contact h1 {
  padding: 0 60px;
  color: white;
  padding-top: 20px;
  font-size: 35px;
  letter-spacing: 2px;
  font-family: 'Fredoka', sans-serif;
  text-align: center;
}

.container-contact p {
  padding: 0 60px;
  color: white;
  text-align: center;
}

.contact-box {
  background: #fff;
  margin: 40px;
  border-radius: 20px;
}

.contact-left {
  padding: 40px 60px;
  margin: 0 auto;
}

.contact-left h3 {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 25px;
}

label {
  font-size: 20px;
}

.input-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.input-group {
  width: 100%;
  margin-right:50px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

label {
  margin-bottom: 6px;
  display: block;
}

.send-msg {
  background: #422ab8;
  width: 120px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  height: 40px;
  opacity: 0.8;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
}

.button:hover {
  opacity: 1;
}

footer {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(-60deg, #4e4165, #6c629c, #6b879e);
  color: #fff;
  font-size: 18px;
}

.last {
  position: relative;
  display: flex;
  padding: 30px;
}

.last-section {
  width: 20%;
  margin: 0 auto;
}

.last-section h3 {
  font-weight: 900;
  font-size: 26px;
  margin-bottom: 30px;
  font-family: 'Fredoka', sans-serif;
}

.last-section h4 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
}

.last-section li {
  padding-bottom: 5px;
  list-style: none;
  cursor: pointer;
}

.wrapp {
  float: left;
  padding: 10px;
  font-size: 20px;
  margin: 5px;
  background-color: #8a6fb8;
  opacity: 0.8;
  border-radius: 10px;
}

.fa-brands {
  color: white;
}

.wrapp:hover {
  opacity: 1.5;
}

.copy {
  width: 100%;
  background-color: #6c629c;
  padding: 10px;
  padding-left: 35px;
  color: whie;
  margin-top: -16px;
}

.copy p {
  font-size: 15px;
}


@media (max-width: 670px) {

  label {
    margin-bottom: 5px;
  }
  .contact-box {
    margin: 40px auto;
  }

  .container-contact h1 {
    font-weight: 700;
    font-size: 25px;
  }

  .container-contact p {
    font-size: 15px;
  }

  .contact-left h3 {
    font-size: 17px;
  }

  label {
    font-size: 15px;
  }

  .button {
    font-size: 15px;
  }

  input {
    width: 80%;
  }

  textarea {
    width: 90%;

  }

  .input-row {
    justify-content: center;
    flex-wrap: wrap;  
  }

  footer {
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
  }
  .last {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }
  .wrapp {
    padding: 10px;
    font-size: 20px;
    margin: 0px 10px 0px 0px;
    background-color: #8a6fb8;
    opacity: 0.8;
    border-radius: 10px;
  }

  .last-section {
    width: 100%;
  }
  .last-section h3 {
    margin-bottom: 10px;
  }
  .last-section h4 {
    padding-top: 30px;
    margin-bottom: 10px;
  }
  .copy {
    width: 100%;
  }

  .copy p {
    font-size: 13px;
  }

}

/* Adi Miftahul Azis  */
