
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 10000px;
}
.container {
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
}

/* Ahmad Raihanul Gibran  */
.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.navbar ul li {
    padding: 17px 25px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}
.navbar ul li a {
    padding: 5px 15px;
    border-radius: 16px;
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
}
.navbar ul li a:hover {
    background-color: #e5e5e5;
    padding: 5px 15px;
    border-radius: 18px;
    text-decoration: none;
    color:#6c629c;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
}
.navbar p {
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 40px;
}

.fa-solid {
    padding-right: 15px;
}
header {
	background: linear-gradient(-45deg, #4e4165, #6c629c, #b3e8e8, #6b879e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 400px;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
	}
	50% {
        background-position: 100% 50%;
	}
	100% {
        background-position: 0% 50%;
	}
}
.header {
    padding: 100px;
}
.header h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.header p {
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
}
/* Ahmad Raihanul Gibran  */

/* Adi Riyanto  */
.main {
    margin-top: 200px;
    height:800px;
    
    background-color: whitesmoke;
}
.main-content-header {
    padding-top: 50px;
    text-align: center;
}
.main-content-header h1 {
    font-family:'nunito sans', Courier, monospace;
    font-size: 35px;
    color: black;
}
.main-content-header p {
    padding-top: 25px;
    margin-left: 250px;
    margin-right: 250px;
    font-family:'nunito sans', Courier, monospace;
    color: black;
}
.main-content-primary{
    position: relative;
    margin-left:50px;
    margin-right: auto;
    
}
.main-content-item-display{
    text-align: center;
    
}
.main-content-item {
    width: 30%;
    height: 400px;
    float: left;
    padding-top: 100px;
    margin-right: 40px;
    

}
.main-content-item-border {
  
  border-style: outset;
}
.main-content-item-border:hover {
    box-shadow: 0 0 12px 1px rgb(80 184 220 / 70%);
}
.main-content-item h1 {
    
    font-family:'nunito sans', Courier, monospace;
    font-size: 35px;
    text-align: center;
    padding: 10px;
}
.main-content-item p {
    font-family:'nunito sans', Courier, monospace;
    text-align: center;
    padding: 10px;
}
.main-content-item img {

    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 350px;
}

/* Adi Riyanto  */